[
  {brod,
  [ { clients,
      [
        { kastle_kafka_client, %% registered name
        [ { endpoints, [ {"kafka-test-app2.devserv.cloud.internal.machines", 9092}
                        , {"kafka-test-app4.devserv.cloud.internal.machines", 9092}
                        , {"kafka-test-app5.devserv.cloud.internal.machines", 9092}
                       ]}
        , { config
          , [ {restart_delay_seconds, 10} ] %% connection error
          }
        , { producers
          , [
              { <<"kafka-mmaker-test">>,
                [ {topic_restart_delay_seconds, 10} %% topic error
                , {partition_restart_delay_seconds, 2} %% partition error
                , {required_acks, -1}
                ]
              }
            ]
          }
        ]}
      ]
    }
  ]}
].
