%% -*- mode: Erlang; fill-column: 80; -*-
[ { lager,
   [ { log_root, "log" }
   , { crash_log, "crash.log" }
   , { colored, true }
   , { handlers
     , [ { lager_console_backend, info }
       , { lager_file_backend, [ {file, "error.log"},  {level, error}]}
       , { lager_file_backend, [ {file, "warn.log"},   {level, warning}]}
       , { lager_file_backend, [ {file, "info.log"},   {level, info}]}
       %% This backend should only be used for development,
       %% remove it for production.
       , { lager_file_backend, [ {file, "debug.log"},  {level, debug}]}
       ]
     }
   ]}
, { brod,
   [ { clients,
      [ { kastle_kafka_client %% registered name, don't change - hard coded in src/kastle.hrl
        , [ { endpoints, [ {"localhost", 9092}
                         ]}
          , { config
            , [ {restart_delay_seconds, 10}
              , {auto_start_producers, true}
              , {default_producer_config,
                  [ {topic_restart_delay_seconds, 10}
                  , {partition_restart_delay_seconds, 2}
                  , {required_acks, -1}
                  , {max_retries, 0}
                  ]
                }
            }
          ]
        }
      ]
     }
   ]}
, { kastle, [ {port, 8092}
            , {listeners, 4}]}
].
