%% -*- mode: Erlang; fill-column: 80; -*-
[ { lager,
   [ { log_root, "log" }
   , { crash_log, "crash.log" }
   , { colored, true }
   , { handlers
     , [ { lager_console_backend, info }
       , { lager_file_backend, [ {file, "error.log"},  {level, '>=error'}]}
       , { lager_file_backend, [ {file, "warn.log"},   {level, '=warning'}]}
       , { lager_file_backend, [ {file, "info.log"},   {level, '=info'}]}
       %% This backend should only be used for development,
       %% remove it for production.
       %, { lager_file_backend, [ {file, "debug.log"},  {level, debug}]}
       ]
     }
   ]}
, { brod,
   [ { clients,
      [ { kastle_kafka_client %% registered name, don't change - hard coded in src/kastle.hrl
        , [ { endpoints, [ {"localhost", 9092}
                         ]}
          , { config
            , [ {restart_delay_seconds, 10}
              , {auto_start_producers, true}
              , {default_producer_config,
                  [ {topic_restart_delay_seconds, 10}
                  , {partition_restart_delay_seconds, 2}
                  , {required_acks, -1}
                  , {max_retries, 0}
                  ]
                }
              ]
            }
          ]
        }
      ]
     }
   ]}
, { kastle, [ {http, [ {port, 8092}
                     , {listeners, 4}
                     ]}
            , {ssl_enabled, false}
            , {ssl, [ {port, 8093}
                    , {certfile, "/etc/ssl/certs/localhost.crt"}
                    , {cacertfile, "/etc/ssl/certs/ca-bundle.crt"}
                    , {keyfile, "/etc/pki/tls/private/localhost.key"}
                    , {versions, ['tlsv1.2', 'tlsv1.1', 'tlsv1']}
                    , {ciphers, [ "ECDHE-ECDSA-AES256-GCM-SHA384"
                                , "ECDHE-RSA-AES256-GCM-SHA384"
                                , "ECDHE-ECDSA-AES256-SHA384"
                                , "ECDHE-RSA-AES256-SHA384"
                                , "ECDHE-ECDSA-DES-CBC3-SHA"
                                , "ECDH-ECDSA-AES256-GCM-SHA384"
                                , "ECDH-RSA-AES256-GCM-SHA384"
                                , "ECDH-ECDSA-AES256-SHA384"
                                , "ECDH-RSA-AES256-SHA384"
                                , "DHE-DSS-AES256-GCM-SHA384"
                                , "DHE-DSS-AES256-SHA256"
                                , "AES256-GCM-SHA384"
                                , "AES256-SHA256"
                                , "ECDHE-ECDSA-AES128-GCM-SHA256"
                                , "ECDHE-RSA-AES128-GCM-SHA256"
                                , "ECDHE-ECDSA-AES128-SHA256"
                                , "ECDHE-RSA-AES128-SHA256"
                                , "ECDH-ECDSA-AES128-GCM-SHA256"
                                , "ECDH-RSA-AES128-GCM-SHA256"
                                , "ECDH-ECDSA-AES128-SHA256"
                                , "ECDH-RSA-AES128-SHA256"
                                , "DHE-DSS-AES128-GCM-SHA256"
                                , "DHE-DSS-AES128-SHA256"
                                , "AES128-GCM-SHA256"
                                , "AES128-SHA256"
                                , "ECDHE-ECDSA-AES256-SHA"
                                , "ECDHE-RSA-AES256-SHA"
                                , "DHE-DSS-AES256-SHA"
                                , "ECDH-ECDSA-AES256-SHA"
                                , "ECDH-RSA-AES256-SHA"
                                , "AES256-SHA"
                                , "ECDHE-ECDSA-AES128-SHA"
                                , "ECDHE-RSA-AES128-SHA"
                                , "DHE-DSS-AES128-SHA"
                                , "ECDH-ECDSA-AES128-SHA"
                                , "ECDH-RSA-AES128-SHA"
                                , "AES128-SHA"]}
                    , {secure_renegotiate, true}
                    , {reuse_sessions, true}
                    , {honor_cipher_order, true}
                    , {max_connections, infinity}
                    %, {verify, verify_peer}
                    ]}
            ]}
].
