%% -*- mode: Erlang; fill-column: 80; -*-
[ { lager,
   [ { log_root, "log" }
   , { crash_log, "crash.log" }
   , { colored, true }
   , { handlers
     , [ { lager_console_backend, info }
       , { lager_file_backend, [ {file, "error.log"},  {level, '>=error'}]}
       , { lager_file_backend, [ {file, "warn.log"},   {level, '=warning'}]}
       , { lager_file_backend, [ {file, "info.log"},   {level, '=info'}]}
       %% This backend should only be used for development,
       %% remove it for production.
       %, { lager_file_backend, [ {file, "debug.log"},  {level, debug}]}
       ]
     }
   ]}
, { kastle, [ {http, [ {port, 8092}
                     , {listeners, 4}
                     ]}
            , {ssl_enabled, true}
            , {ssl, [ {port, 8093}
                    , {listeners, 4}
                    , {cacertfile, {priv, "ssl/ca.crt"}} % or abs path
                    , {certfile, {priv, "ssl/server.crt"}} % or abs path
                    , {keyfile, {priv, "ssl/server.key"}} % or abs path
                    , {versions, ['tlsv1.2', 'tlsv1.1', 'tlsv1']}
                    %, {ciphers, [ "AES256-SHA256" ]}
                    , {secure_renegotiate, true}
                    , {reuse_sessions, true}
                    , {honor_cipher_order, true}
                    , {max_connections, infinity}
                    , {verify, verify_peer}
                    , {fail_if_no_peer_cert, true}
                    ]}
            , {kafka_endpoints, [{"localhost", 9092}]}
            , {brod_client_config, [ {restart_delay_seconds, 10}
                                   , {auto_start_producers, true}
                                   , {default_producer_config,
                                      [ {topic_restart_delay_seconds, 10}
                                      , {partition_restart_delay_seconds, 2}
                                      , {required_acks, -1}
                                      , {max_retries, 0}
                                      ]}
                                   ]}
            ]}
].
